/* Imports google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Common style / Utilities  */
body{
  width: 100%;
  height: 100vh;
  color: var(--white);
  font-size: 1.6rem;
  background-image: linear-gradient(to right, #100A2C, #0f0826);
  font-family: 'Poppins', sans-serif;
}
html{
  font-size: 62.5%;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --hover-green: #007bff;
  --btn-color: #5C4AF3;
  --btn-hover: #6E1FEA;
  --yellow: #F6AA28;
  --salmon: #FC535A;
  --gray: #cbcbcb;
  --rating-bg: #211548;
  --salmon-2: #FE4565;
}
a{
  color: var(--white) !important;
  text-decoration: none;
}
p{
  color: var(--gray);
}
section{
  margin: 10rem 0 !important;
}
.common-btn{
  padding: 2rem 3rem;
  background: var(--btn-color);
  border-radius: .8rem;
  transition: .2s ease-in;
}
.common-btn:hover{
  background: var(--btn-hover);
}
/* ------------------------------------------------------------- */
/* navbar section  */
header ul li:not(:first-of-type){
  padding-left: 4rem;
}
.nav-link:hover{
  color:var(--hover-green) !important ;
}

/* Hero section  */
.hero .heighlight-title{
  font-size: 7rem;
  font-weight: 800;
}
.hero span{
  background: -webkit-linear-gradient(45deg, #4289ff, #16ffbe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7.5rem;
  font-weight: 800;
}

/* Rating section  */
.rating-section .rating-area{
  background-color: var(--rating-bg);
  padding: 4rem;
  border-radius: 2rem;
}

/* Our App section  */
.our-app::before{
  content: '';
  position: absolute;
  background: url(../img/bg-shape/dot-shape.png);
  width: 200px;
  height: 200px;
  z-index: 99;
  left: -5%;
  opacity: .5;
}
.our-app .app-title{
  font-size: 7rem;
  font-weight:700;
}
.our-app .app-title2{
  font-size: 7rem;
  color: var(--yellow);
  font-weight:700;
}

/* app feature section  */
.app-feature .app-content{
  background: var(--rating-bg);
  padding: 2rem;
  border-radius: 3rem;
}
.app-feature .rating-app-title{
  font-size: 2.5rem;
  margin: 4rem 0;
}
.app-feature .reward-area{
  background: var(--rating-bg);
  padding: 6rem 3rem 3rem 3rem ;
  border-radius: 3rem;
  margin-bottom: 3rem;
}
.app-feature .app-content-title{
  font-size: 4rem;
  padding: 2rem;
}

.app-feature .coder-area{
  background: var(--salmon-2);
  padding: 5rem 3rem 3rem 3rem;
  border-radius: 3rem;
}
.app-feature .coder-content{
  padding-left: 3rem;
}
.app-feature .coder-title{
  font-size: 3rem;
}

/* Guideline section  */
.guideline .guidline-title{
  font-size: 6rem;
  font-weight: 700;
}
.guideline .guidline-title2{
  color: var(--salmon);
}

/* Guideline info  */
.guideline-info{
  margin: 5rem 0;
  padding: 3rem;
  background: var(--rating-bg);
  border-radius: 3rem;
}
.guideline-title{
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem 0;
}
.guideline-description,
.course-info,
.course-feature{
  padding: 1rem 0;
}
.course-feature h4{
  padding-left: 1rem;
}
.main-content{
  background: var(--white);
  padding: .8rem;
  border-radius: 2rem;
  color: var(--black);
}

/* Course Plan section  */
.live-section{
  background: var(--btn-color);
  padding: 7rem 3rem;
  border-radius: 3rem;
}
.live-section h2{
  font-size: 3.5rem;
  font-weight: 700;
  padding: 2rem 0;
  line-height: 6rem;
}
.live-section span{
  color: var(--gray);
}
.project-section{
  background: var(--yellow);
  padding: 5rem;
  border-radius: 3rem;
}
.project-area h2 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--black);
  padding-bottom: 2rem;
}
.project-area h4{
  color: var(--black);
  padding-bottom: 2rem;
}

/* best talented section  */
.best-talent h1{
  font-size: 6rem;
  padding: 3rem 0;
  font-weight: 700;
}
.talent-content{
  padding-left: 3rem;
}
.candidate-section{
  margin-top: 15rem;
}
.talent-student{
  background: var(--rating-bg);
  padding: 3rem;
  border-radius: 3rem;
  margin-bottom: 2rem;
}
.talent-content h3{
  font-size: 3rem;
}
.productive{
  padding: 4rem;
  background: var(--rating-bg);
  border-radius: 3rem;
}
.productive img{
  padding: 2rem 0 3rem 2rem;
}

/* Job PlaceMent section  */
.job-placement-title{
  font-size: 6rem;
  font-weight: 700;
  margin: 7rem 0;
}
.job-placement img{
  padding: 2rem;
}
.job-placement h2{
  font-size: 5rem;
  font-weight: 700;
}
.job-placement .job-area{
  background-color: var(--rating-bg);
  padding: 5rem;
  border-radius: 3rem;
}
.separate{
  background: transparent !important;
}
.job-worldwide{
  background-color: var(--rating-bg);
  padding: 6rem;
  border-radius: 3rem;
}

/* footer  */
footer{
  padding: 5rem 0 5rem 0;
  position: relative;
}
footer h3{
  padding: .4rem 0;
}
.office-address{
  line-height: 9rem;
}
.fas{
  padding-right: 1rem;
}
.icon .fab{
  padding: 1.5rem;
  font-size: 2rem;
}
.personal{
  color: var(--btn-hover) !important;
}
.scroll{
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: var(--rating-bg);
  border-radius: 50%;
  right: 5%;
  bottom: 20%;
}
.scroll .fas{
  font-size: 2rem;
  padding-left: 1rem;
}