/* Imports google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Common style / Utilities  */
body{
  width: 100%;
  height: 100vh;
  color: var(--white);
  font-size: 1.6rem;
  background-image: linear-gradient(to right, #100A2C, #0f0826);
  font-family: 'Poppins', sans-serif;
}
html{
  font-size: 62.5%;
}
:root {
  --white: #ffffff;
  --hover-green: #007bff;
  --btn-color: #5C4AF3;
  --btn-hover: #6E1FEA;
  --yellow: #F6AA28;
  --salmon: #FC535A;
  --gray: #cbcbcb;
  --rating-bg: #211548;
  --salmon-2: #FE4565;
}
a{
  color: var(--white) !important;
  text-decoration: none;
}
p{
  color: var(--gray);
}
section{
  margin: 10rem 0 !important;
}
.common-btn{
  padding: 2rem 3rem;
  background: var(--btn-color);
  border-radius: .8rem;
  transition: .2s ease-in;
}
.common-btn:hover{
  background: var(--btn-hover);
}
/* ------------------------------------------------------------- */
/* navbar section  */
header ul li:not(:first-of-type){
  padding-left: 4rem;
}
.nav-link:hover{
  color:var(--hover-green) !important ;
}

/* Hero section  */
.hero .heighlight-title{
  font-size: 7rem;
  font-weight: 800;
}
.hero span{
  background: -webkit-linear-gradient(45deg, #4289ff, #16ffbe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7.5rem;
  font-weight: 800;
}

/* Rating section  */
.rating-section .rating-area{
  background-color: var(--rating-bg);
  padding: 4rem;
  border-radius: 2rem;
}

/* Our App section  */
.our-app::before{
  content: '';
  position: absolute;
  background: url(../img/bg-shape/dot-shape.png);
  width: 200px;
  height: 200px;
  z-index: 99;
  left: -5%;
  opacity: .5;
}
.our-app .app-title{
  font-size: 7rem;
  font-weight:700;
}
.our-app .app-title2{
  font-size: 7rem;
  color: var(--yellow);
  font-weight:700;
}

/* app feature section  */
.app-feature .app-content{
  background: var(--rating-bg);
  padding: 2rem;
  border-radius: 3rem;
}
.app-feature .rating-app-title{
  font-size: 2.5rem;
  margin: 4rem 0;
}
.app-feature .reward-area{
  background: var(--rating-bg);
  padding: 6rem 3rem 3rem 3rem ;
  border-radius: 3rem;
  margin-bottom: 3rem;
}
.app-feature .app-content-title{
  font-size: 4rem;
  padding: 2rem;
}

.app-feature .coder-area{
  background: var(--salmon-2);
  padding: 5rem 3rem 3rem 3rem;
  border-radius: 3rem;
}
.app-feature .coder-content{
  padding-left: 3rem;
}
.app-feature .coder-title{
  font-size: 3rem;
}